<!-- templates/base.html 
 This uses Jinja templating so that the content of this "parent" page is carried across the children pages-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Content Security Policy to prevent XSS attacks -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://stackpath.bootstrapcdn.com https://fonts.googleapis.com; script-src 'self' https://code.jquery.com https://cdn.jsdelivr.net https://stackpath.bootstrapcdn.com; img-src 'self' data:; font-src 'self' https://fonts.gstatic.com; frame-src 'self' https://app.powerbigov.us;">
    <!-- The title of the page, which shows up in the browser tab-->
    <title>{% block title %} Community Project - Harm Reduction Chatbot {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Lora:wght@400&display=swap" rel="stylesheet">
    <!-- jQuery and Popper.js and Bootstrap js import, a dependency for Bootstrap Content Security Policy-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Banner. Only shows up on the homepage if the banner variable is set to True in the js file-->
    <div class="banner" id="banner">
        <p>(8.20.24) -- The chatbot is under maintenance. After the next patch, service will resume.
            <br>
            <br>
            <i>(Click outside the banner to view the page)</i>
        </p>
    </div>
    <header>
        <!-- Navigation bar-->
        <nav class="custom-navbar">
            <div class="navbar-org-container" >
                <a class="navbar-org-name" href="{{ url_for('website.onepager') }}">
                    Community Project |
                    <span class="office-text"> Harm Reduction Chatbot</span>
                </a>
                <div class="navbar-content-container">
                    <a class="navbar-oss-text" href="https://github.com/christian-arthur/sms_harm_reduction_chatbot">Codebase on Github</a> &lt;<img src="{{ url_for('static', filename='images/naloxone_icon.png') }}" alt="naloxone icon" height="31">&gt;
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- The content of the page, which is defined in the child templates-->
        {% block content %}{% endblock %}
    </main>

    <!-- Footer-->
    <footer class="footer">
        <div class="footer-text">
            🔹 Christian Arthur developed this app. He is a social worker and software developer specializing in harm reduction innovation and policy.
            <br>🔹 The code is <a href="https://github.com/christian-arthur/sms_harm_reduction_chatbot">open source</a>. Programs and jurisdictions are welcome to adapt it. <a href="contact@christianarthur.tech">Reach out to Christian</a> if you have questions.
            <br>🔹 Have suggestions for how to improve the chatbot? Please fill out this <a href="https://forms.gle/Jt4dfeXeia9FJeG96">form</a>.
        </div>
    </footer>
    <!-- The javascript file-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>

